name: Publish to GitHub Pages

on:
  push:
    branches: [ antora ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: github-pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Antora
        run: npm install antora

      - name: Generate Antora site
        env:
          GITHUB_PAGES: ''
        run: |
          cd content
          npx antora antora-playbook.yml



      # OBLIGATOIRE pour GitHub Pages (doc officielle)
      - name: Disable Jekyll
        run: touch content/build/culture-generale/antora/.nojekyll

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: content/build/culture-generale/antora

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
